.headerSection {
  background: radial-gradient(ellipse farthest-corner at 77% 175%, #98c7fe 58%, #98c7fe 70%, #fff 70%);
  box-shadow: 0 -3px 15px 4px #ccc;
  min-height: 346px;
  display: flex;
  flex-direction: column;
}
